<!--The content below is only a placeholder and can be replaced.-->

<div class="row" id="header">
<div class="col-md-2" id="logo">

    <img width="80" height="120" alt="NATS Logo" src="../assets/images/gov.png">

</div>
<div class="col-md-8" id="head">
       <h2>
    National Apprenticeship Training Scheme (NATS)!
  </h2>
  <h3>
    Instituted by Boards of Apprenticeship Training / Practical Training
  </h3>
  <h4>Ministry of Human Resource Development, Government of India
    </h4>
    </div>
  <marquee behaviour=alternate scroll-delay="100" >
       Providing Employment to Students &bull; Register for Job Fair 2019 &bull; Let's make every student employable
    &bull; Bridging Careeers, building careers..    </marquee>
  </div>

  
  
    <div class="row">
    
    <nav>
        <h2>
          <a class="text-right" [routerLink]="['/about']"> About Us</a> &nbsp;
          <a class="text-right" [routerLink]="['/login']"> Login</a> &nbsp;
          <a class="text-right" [routerLink]="['/register']"> Register</a> &nbsp; 
          <a class="text-right" [routerLink]="['/industries']"> Industries</a>&nbsp;
         <a class="text-right" [routerLink]="['/institutions']"> Institutions</a>  &nbsp;      
          <a class="text-right" [routerLink]="['/aside']"> Aside</a>
          </h2>
                      </nav>
          </div>
    
          <div>
            <footer>
              <span class="text-danger">
                <strong>This site is copyright &copy; to Government of India.
                  All rights are reserved here.
                </strong>
              </span>
            </footer>
          </div>
          
             
               
            
<router-outlet></router-outlet>
